* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  background: none;
  border: none;
}

body {
  background-color: rgba(7, 7, 36, 255);
  background-image: url(../assets/background-stars.svg);
}

hr {
  border: 1px solid #313148;
}

@font-face {
  font-family: antonio;
  src: url(../assets/antonio.woff2);
}

@font-face {
  font-family: latin-700;
  src: url(../assets/league-spartan-v11-latin-700.woff2);
}

@font-face {
  font-family: latin-regular;
  src: url(../assets/league-spartan-v11-latin-regular.woff2);
}
