/* HEADER */
header .header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  color: white;
  font-family: antonio;
  font-size: 20px;
}
header .burger-btn {
  margin-right: 15px;
}

/* NAV */
nav {
  display: none;
}

nav.active {
  display: block;
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  z-index: 98;
  background-image: url(../assets/background-stars.svg);
  background-color: rgba(7, 7, 36, 255);
  padding: 20px;
}

nav.active a {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  border-bottom: 1px solid #313148;
  color: white;
  font-family: latin-700;
  font-size: 20px;
  padding-bottom: 10px;
}

/* MAIN */
main .main-rest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main button {
  color: #7f7f8f;
  font-family: latin-700;
  padding: 25px 0px;
  font-size: 13px;
}

main .main-buttons-1 {
  display: flex;
  justify-content: center;
}

main button.middle {
  margin: 0px 70px;
}

main img {
  width: 115px;
  margin: 70px 0px;
}

main .main-img {
  text-align: center;
}

main article h1 {
  color: white;
  font-size: 40px;
  font-family: antonio;
  text-align: center;
}

main article p.description {
  color: white;
  font-size: 16px;
  font-family: latin-regular;
  margin: 20px;
  text-align: center;
}

main .desc-source {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

main .desc-source p {
  color: #7f7f8f;
  font-family: latin-700;
  font-size: 12px;
}

main .desc-source a {
  color: #7f7f8f;
  font-family: latin-700;
  text-decoration: underline;
  font-size: 12px;
}

main .main-buttons-2 {
  display: none;
}

/* SECTION - PLANET INFORMATION */
section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 15px;
}

section h3 {
  color: #7f7f8f;
  font-family: latin-700;
  font-size: 13px;
}
section h2 {
  color: white;
  font-family: antonio;
  font-size: 15px;
}

section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid white;
  padding: 10px 17px;
  margin: 5px 15px;
}
